
@{
    ViewBag.Title = "About";
    
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src='js/infinite-rotator.js'></script>
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<body style="background-color:darkseagreen">


    <center>
        <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
        <p style="text-wrap:normal; font-family:'Times New Roman', Times, serif; color:#7E3B0A; font-size:large">@SloganHealth.SloganList.GetRandomSlogan()</p>
        @*<a href="https://www.tripadvisor.com.au/LocationPhotoDirectLink-g42660-d1892673-i95774558-Motor_City_Brew_Tours-Royal_Oak_Michigan.html#95774558"><img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/05/b5/67/4a/motor-city-brew-tours.jpg" style="float:right" /></a>*@
    </center>
    <h2>@ViewBag.Title</h2> 
    <h4>@DateTime.Now.DayOfWeek, @DateTime.Now.Date </h4>
    <ul>
        <li>    Create a Healthy Detroit community and build stronger relationships between neighbors.</li>

        <li>    Building business in the Health Community around Metro Detroit.</li>

        <li>    Meet people with common interest and hobbies, and celebrate healthy achievement.</li>

    </ul>
    <center>
        <div>
            @Html.ActionLink("Send us a tip!", "Contact")
        </div>
        <a href="http://healthyinthed.azurewebsites.net/Products/Index">Ready for your List and Join our Newsletter</a>
       
    </center>
    <div>

        <div>
            Hit us up on twitter fam!
        </div>
        <a href="https://twitter.com/ChrisPhill9"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" /> &#64;ChrisPhill9</a> <br />
        <a href="https://twitter.com/sylviahubbard1"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;sylviahubbard1</a> <br />
        <a href="https://twitter.com/MahdiAfrin"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;MahdiAfrin</a> <br />
        <a href="https://twitter.com/Bmike007111"><img src="http://vignette3.wikia.nocookie.net/kungfupanda/images/8/83/Twitter-favicon.png/revision/latest?cb=20150407225142" height="30" width="30" />&#64;Bmike007111</a> <br />
        <br /> @Html.ActionLink("Go Back Home", "Index")
    </div>
</body>
