@model CodeBloodedFinal.HealthyD

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body style="background-color:darkseagreen">

        @*<pre style="background-color:darkseagreen; text-wrap:normal;">*@
        <center>
            <img src="https://sylviahubbard.files.wordpress.com/2016/10/healthydlogo.png">  <br />
            <p style="text-wrap:normal">@SloganHealth.SloganList.GetRandomSlogan()</p>
        </center>
        @*</pre>*@
        <div class="form-horizontal">
         <center>   <h2 style="align-self:center">Network, be Entertained and Educated about Healthy Living Detroit</h2></center>

            <hr />
<p>Ready to connect, network, and meet other Health Conscious People around Detroit? <br />
            Please fill out the form for your listing!</p>            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.Slogan
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                </div>
               
                    @*<div class="form-group checkbox">
                        <label>Would you like to receive our newsletter?(Optional)</label>
                        @Html.CheckBoxFor(x => x.NewsRecv)

                    </div>*@
                
            </div>
           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </body>
}

<div>
    @Html.ActionLink("Go Back Home", "Index")
</div>
