
@model CodeBloodedFinal.HealthyD

    @{
        ViewBag.Title = "Search Results";
    }

    <h2>Thank you for searching: @Model.Name</h2>
@ViewBag.OutCityZip
    <h3>Here are the listing for @Model.Zip</h3>
<br />

    <h4>Here is your tip of the day: : <br />@ViewBag.Slogan</h4>
<br/> <SCRIPT LANGUAGE="JavaScript">

if (window.print) {
document.write('<form><input type=button name=print value="Print" onClick="window.print()"></form>');
}
</SCRIPT><br/>
        <div>
            <ul>
                @foreach (var text in ViewBag.results)
            {
                    <li>
                        <div>
                            
                            @text.Name;
                        </div>
                        <div style="color:blue">
                            <a href="@text.link"> @text.link </a>
                        </div>
                    # of Members: @text.Members;
                </li>
                }
            </ul>
        </div>
