
@model CodeBloodedFinal.HealthyD

    @{
        ViewBag.Title = "Search Results";
    }

    <h2>Thank you for searching: @Model.Name</h2>
    <h3>Here are the listing for @Model.Zip</h3>
    <h4>@ViewBag.Slogan</h4>
        <div>
            <ul>
                @foreach (var text in ViewBag.results)
            {
                    <li>
                        <div>
                            
                            @text.Name;
                        </div>
                        <div style="color:blue">
                            <a href="@text.link"> @text.link </a>
                        </div>
                    # of Members: @text.Members;
                </li>
                }
            </ul>
        </div>
